* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
    letter-spacing: 0.2em;
  }
  
  h3{
    text-align: center;
  }
  h4 {
    text-align: center; 
  }
  .coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://cdn.pixabay.com/photo/2019/06/07/12/27/texture-4258163_1280.jpg)
    /*background-size: 100%;*/
  }
  
  .countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5%;
    margin-top:2%;
  }

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}

.waiting {
  height: 50vh;
}
